{% for i in 0..items -1%} 
    {% if i <= imodel.highestposition%}
        <div data-title="{{model[i].payload.name}}" data-content="Auswahl: 
             {{model[i].payload.match.action.method}}
             " data-placement="top" data-toggle="popover" class="{{model[i].payload.match.action.method}} dot {% if i == imodel.position%}high{% endif %} {% if i == imodel.highestposition%}blue{% endif %}  {% if i < imodel.highestposition%}done{% endif %}"
             data-name="dot" data-on="click" data-omit="true" data-value="{{i}}">
        </div>
    {% else %}
        <div class="dot" data-title="{{model[i].payload.name}}" data-placement="top" data-content="noch offen" data-toggle="popover">
        </div>
    {% endif %}
{% endfor %}